<h1 id="h1">Chat Ecommerce</h1>
<div>
  <form action="/api/chat" method="post">
    <label for="mailBox">ingrese su correo electronico</label>
    <input type="email" id="mailBox" name="user" placeholder="Email">
    <label for="chatBox">ingrese su mensaje</label>
    <input type="text" id="chatBox" name="message" placeholder="Mensaje">
    <button type="submit">Enviar Mensaje</button>
  </form>
</div>