<form method="POST" action="/newPass">
    <label name="user">{{this.user}}, </label>
    <label for="pass">ingrese su nueva contraseña</label>
    <input type="password" name="pass" placeholder="Nueva contraseña" required>
    <button type="submit">Nueva contraseña</button>
</form>