<form method="POST" action="/resetPass">
    <label for="email">Ingrese su correo electrónico</label>
    <input type="email" name="email" placeholder="Correo Electrónico" required>
    <button type="submit">Reset Contraseña</button>
</form>